.text-blue{
    color: #fff;
}
.coming-soon-text{
    width: 100%;
    margin: 40px 0px 30px 0px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fff;
    color: #fff;
    text-align: center;
    position: relative;
}
.coming-soon-text::before{
    position: absolute;
    bottom: -10px;
    content: ' ';
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    width: 150px;
    height: 4px;
}